@import "./fonts.css";
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}